@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.
  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
    height: inherit;
}

h1 {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 16px;
}

blockquote {
    margin: 5px;
    padding-left: 5px;
    border-left: 5px solid gray;
    background-color: rgba(0, 0, 0, 0.05);
}

* {
    transition: 0.2s all;
}

/* latin */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(/fonts/pacifico.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  